* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-burger div {
  height: 2px;
  width: 23px;
  background-color: black;
  margin: 4px;
}

.logo h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
}

main .info-bio h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-top: 3.5rem;
}

.inner-text {
  color: #36b37f;
}

main .info-bio p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 0 1.5rem;
  padding: 0 1rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
}

.social a i {
  font-size: 1.5em;
  color: #505f79;
}

.social a img {
  height: 1.5rem;
}

main {
  background-image: url('./assets/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drop {
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 1rem;
  align-self: center;
  margin-top: 2.5rem;
}
